pyrofork
uvloop
motor
cachetools
telethon
requests
speedtest-cli
beautifulsoup4
pytz
unidecode
telegraph
pillow
httpx[http2]
python-arq
gtts
gpytranslate
opencv-python-headless
blackpink
tgcrypto
apscheduler
python-telegram-bot
yt-dlp[default,curl-cffi]>=2025.6.9
moviepy
psutil
httpx==0.27.2
rich
aiofiles
fpdf2
PyPDF2
aiohttp==3.9.5
asyncio
dnspython
cryptography
ffmpeg-python
numpy
youtube-search
youtube-search-python
pyjokes
lyricsgenius

# github_tools.py
PyGithub

#NSFW
imagehash

